*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgba(62, 58, 58, 0.892);
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.menus{
    display: flex;
}
.logo-photo{
    width: 200px;
    }
    .item{
        /* margin: 10px 10px 10px 10px; */
        margin-right: 10px;
        padding-right: 7px;
        font-size: 18px;
    }
    .item:hover{
        color: blue;
    }
    .banner-img{
        width: 300px;
    }
    .banner-container{
        display: flex;
        justify-content: space-around;
        height: 100vh;
        align-items: center;
        /* border: 2px solid gray; */
        color: white;
        background-image: url('./image/background\ .png'),
        linear-gradient(45deg, rgb(8, 8, 8), #000);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title{
        font-size: 55px;
        font-weight: bold;
        
    }
    .description{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .btn{
        padding: 10px 20px;
        background-color: red;
        color: white;
        border: none;
        /* border-radius: 10px; */
    
    }
    .para{
        padding: 10px;
    }
    .about-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
        margin: 10px;
    }
    .about-title{
        text-align: center;
        padding-top: 20px;
        font-size: 55px;
        color: white;
        background-image: url('./image/background\ .png'),
        linear-gradient(45deg, rgb(8, 8, 8), #000);
        
        
        
        
    }
    .about-info{
        padding-bottom: 20px;

    }
   .box{
    width: 230px;
    height: 250px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
   }
   .icon{
    width: 70px;
   }
   .box-btn{
    background-color: gray;
    margin-top: 10px;

   }
   .box-title{
    padding: 10px;
   }
   .box-descriptions{
    padding: 5px;

   }
   .service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url('./image/background\ .png'),
        linear-gradient(45deg, rgb(8, 8, 8), #000);
   
   }
   
   .footer-container{
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    background-color: #000;
    color: white;
    
   }

   .footer-details{
    margin-top: 100px;
    margin-left: 80px;
    width: 230px;
    height: 250px;
    /* box-shadow: 4px 4px 15px gray; */
    background-color: black;
    text-align: center;
    padding: 15px;
    /* color: white; */
   }